.category-panel {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    border: 1px solid #ddd;
    width: 220px;
    align-items: flex-start;
}
.icon{
    font-size: 2rem;
    cursor: pointer;
}
.category-panel h2 {
    font-size: 30px;
    margin: 0;
    padding: 10px;
}

.category-list {
    list-style: none;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left:20px ;
}

.category-list li {
    padding: 5px 0;
    cursor: pointer;
    color: grey;
    font-weight: bold;
    font-size: 20px;
}

.category-list li:hover {
    background-color: rgb(47,180,225);
    border-radius: 10px;
    width: 180px;
    color: white;
}

@media (min-width:360px) and (max-width: 768px) {
    .category-panel {
        position: sticky;
        top: 0;
        height: 100vh;
        width: 100%;
    }
    .category-list{
        flex-direction: row; 
    }
}